body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #3498db;
}

main {
    margin: 20px;
}

section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

h2 {
    color: #3498db;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

a {
    color: #3498db;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.image-container {
    text-align: center; /* Centra la imagen horizontalmente */
}

.image-container img {
    max-width: 100%; /* Ajusta la imagen al ancho máximo de su contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Elimina cualquier espacio adicional alrededor de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
